@charset "utf-8";
/* CSS Document created by Tim Rodgers - Divine Connections Web Design
	for Gym 101 Fitness */
	

html, body, div, span, form, table, a, ul, li {
	margin:0;
	padding:0;
}
a, img {
	border:none;
}
html, body {
	background: #000;
}
body {
	color:#fff;
	font-size:11pt;
	font-family: "Calibri", Arial, Helvetica, sans-serif;
	background: #000 url(images/bg01.jpg) repeat-x !important;
}


/* STYLES INDIVIDUAL ELEMENTS */
a, a:visited {
	color:#929292;
	text-decoration:none;
}
a:hover {
	color:#090;
	font-weight:500;
}
ul li {
	list-style-type:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial Black, serif !important;
	font-style: italic !important;
	font-weight: bold !important;
}
h1 {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px !important;
	font-style: italic;
}
h1, h2 {
	/*text-shadow: #666 2px 2px 2px;*/
}
h3 {
	font-family: Geneva !important;
	font-weight: bold;
	font-size:150%;
	text-transform:uppercase;
	/*text-align:center;*/
	/*text-shadow:#CCC 1px 1px 1px;*/
}
h4 {
	display:inline;
	font-size:100%;
	font-family: "Times New Roman";
	font-weight:normal;
}
h5 {
	font-weight: bold !important;
	font-size: 14pt !important;
}

.bold {
	font-weight: bold;
}

blockquote {
	font-style: italic;
	font-size: 0.8em;
}
.grayed_out {
	color:#666;
}
#ul_spacer {
	line-height:130%;
}
.center {
	text-align:center;
}
.smaller {
	font-size:0.7em;
}
.noDisplay {
	position:absolute;
	left:-9999px;
}
div.hr {
	height: 2px;
	background: url(images/divas/hr.gif) no-repeat scroll center;
}
div.hr hr {
	display: none;
}

.orange {color:#ff8c01;}
.green {color:#098d10;}
.red {color:red;}
.blue {color:blue;}
.small {font-size:90%;}
.right {text-align:right;}

strong {
	font-weight:bold;
	font-size: 110%;
	text-transform: uppercase;
}

.orange_bg {
	background-color: #FFB16C;
}



/** HEADER **/
#container {
	text-align:center;
	margin: 0 auto;
	min-height:550px;
	padding-bottom:50px;
	background:#000;
}
#header {
	width:100%;
	min-height:130px;
	background:#000;
	margin-top: 1em;
}

#motto {
	color: #fff;
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
}
#motto .orange {
	font-style: italic;
}
#FB {
	text-align:right;
}

/** NAVIGATION **/

@media screen and (min-width: 1024px) {
	.main-navigation, .main-navigation a {
		/*height:50px;*/
	}
	.main-navigation a, .main-navigation ul li {
		display:block;
	}
	.main-navigation {
		width:100%;
		height: 50px;
		text-align:center;
		font-size:12px;
		text-transform: uppercase;
		background: #ff670f url(images/menu_slice.gif) repeat-x;
		border-radius: 10px;
		font-family: Verdana, Geneva, sans-serif;
		font-weight: bold;
	}
	.main-navigation a, a:visited {
		color: #fff !important; 
	}
	.main-navigation a:hover {
		color: #060 !important;
		font-weight: bold;
		background: transparent !important;
	}
	.main-navigation ul {
		list-style-type: none;
		width:100%;
	}

	.main-navigation ul li {
		float: left;
		/*height: 40px;*/
		width: 12.5%;
		display: inline;
		background: url(images/menu_divider.gif) no-repeat 100% 0;
	}
	.main-navigation ul li:nth-child(1) {
		width: 10%;		
	}
	.main-navigation ul li:nth-child(2) {
		width: 15%;
	}
	.main-navigation ul li:nth-child(2) a {
		margin-top: -10px;
		font-size: 10px;
	}
	.main-navigation ul li:nth-child(2) a,
	.main-navigation ul li:nth-child(3) a {
		padding-left: 0;
		padding-right: 0;
	}
	.main-navigation ul li:nth-child(5) a,
	.main-navigation ul li:nth-child(6) a {
		margin-top: -10px;
	}
	.main-navigation ul li:last-child {
		background: none;
	}
}




/** MAIN **/
.site-content {
	background:#1b1b1b;
	color:#eee;
	padding:40px 20px 20px 20px;
	text-align:left;
}

#whoweare {
	padding-bottom:50px;
}

#whoweare h2 {
	padding: 1em 0 1em 5em;
	font-weight: 900 !important;
	text-transform: uppercase !important;
}

#whoweare img {
	float:left;
	padding-right:15px;
	padding-bottom:5px;
}

#gymphoto {
	margin-left: 60px;
}

#animation {
	margin-left: 40px;
	padding-bottom: 50px;
}
#welcome {
	padding-bottom:10px;
}
#welcome h1 {
	border: 0;
	background-color: #F78914;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif !important;
	text-transform: uppercase;
	font-weight: 900;
	font-style: normal !important;
	font-size: 3em;
	text-align: center;
	padding-top: 0.5em;
	text-shadow: #BA4D09 2px 2px 2px;
}

/** CLASS SCHEDULE PAGE **/
.wcs3-schedule-wrapper table th {
	color: #333 !important;
	text-align: center;
	line-height: 2em;
}
.wcs3-schedule-wrapper td {
	padding: 1em !important;
	line-height: 2em;
}
#classdesc {
	text-align:justify;
	/*padding: 20px 50px;*/
	/*width:500px;*/
	margin-top:50px;
	padding:20px;
	background:#efefef;
	color:#393939;
}
#classdesc ul {
	list-style-type: none;
}
#classdesc ul li {
	padding-bottom: 20px;
	text-indent: -5em; 
	padding-left: 5em;
}


/** TRAINING PAGE **/
.trainer {
	margin-bottom:20px;
}

/** SERVICES PAGE **/
.svchead {
	font-weight:bold;
	font-size:16px;
	font-style:italic;
}
.svctxt {
	font-weight:normal;
	font-size:14px;
	padding: 10px;
}
.svcwrap {
	width:100%;
	height:170px;
	background:#fff;
	border-radius: 5px;
	color:#333;
	clear:both;
	padding-right:10px;
}
.svcwrap img {
	float:left;
	margin-right:20px;
	padding:10px;
}

/** TANNING PAGE **/
.prices {
	text-align:right;
}

/** TRAINING PIT PAGE **/
.training-pig table {
	padding-left: 17%;
	padding-bottom:20px;
}

.training-pit table ul {
	padding-left: 1em;
	margin-left:1em;
}
.training-pit table ul li {
	padding-left: 1em;
	margin-left: 1em;
}

/** CONTACT US PAGE **/

#leftColumn2 {
	text-align:left;
}
#leftColumn2 h1 {
	margin-top:-10px;
}
h2 i {
	font-style: italic;
	font-size:.8em;
}
#mapGladewater {
	padding-top:50px;
}

#rightColumn2 {
	text-align:right;
	background:white;
	color:#393939;
	height:auto;
	font-size:1.2em;
	padding:60px 50px 95px 0;
}
#rightColumn2 ul {
	list-style-type: none;
}
.heading {
	padding-bottom:20px;
}




/**  FOOTER  **/
footer {
	background:#000;
	width:100%;
	text-align:left;
	margin: 5em 0;
}
#footerdata {
	float:right;
}
#footergymlogo {
	padding-left: 30px;
	padding-top:6px;
	width:200px;
	display:block;
	float:left;
}
#footerdclogo {
	float:right;
	width:400px;
	color:#929292;
	margin-right:-100px;
	padding-top:25px;
}
#menu2 {
	font-size: 90%;	
	padding-left: 50px;
	float:left;
	/*width:500px;*/
}
#menu2 ul {
	list-style-type: none;
	float:left;
	margin-top:15px;
	padding: 0 30px 0 0;
	border-left: 1px solid #929292;
}
#menu2 ul li {
	padding-left: 5px;
}
#menu2 a, a:visited {
	color:#ccc;
	text-decoration:none;
	font-size: 90%;
}
#menu2 a:hover {
	color:#090;
}
#henderson h5 {
	font-style: italic;
	text-align: left;
	font-family:"Times New Roman", Times, serif !important;
}

/** RESPONSIVE **/
@media screen and (max-width: 1023px) {
	.main-navigation ul li {
		width: 100%;
		background: #333;
	}
	.navbar-toggle .icon-bar {
		background: #ffffff !important;
	}
	#whoweare h2 {
		padding: 0;
	}
	.site-content {
		padding: 0;
	}
	#animation {
		display: none;
	}
	#gymphoto {
		margin-left: 0;
	}
	#menu2 ul {
		float: none;
	}
	#menu2 ul li {
		height: 50px;
	}
	.svcwrap {
		min-height: 170px;
		height: auto;
	}
	#rightColumn2 {
		padding: 1em;
		margin-top: 1em;
	}
}